datafactory/pipeline/pipeprocessor.json
{
	"name": "pipeprocessor",
	"properties": {
		"activities": [
			{
				"name": "ForEachTableList",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookuptable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookuptable').output",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "CopyTable",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable_DWStage",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().Table_Name",
											"type": "Expression"
										},
										"TableSchema": {
											"value": "@item().Table_Schema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Blob_DWJson",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "concat(@item().Table_Schema,\"_\",@item().Table_Name, \".jason\")",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookuptable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Table_Name",
						"value": "BrokerDetails"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TOP (3) TABLE_NAME,TABLE_SCHEMA FROM information_schema.Tables WHERE TABLE_Schema = 'Insurance'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLmetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"concurrency": 2,
		"parameters": {
			"Tasktype": {
				"type": "string"
			},
			"TaskParam": {
				"type": "object"
			}
		},
		"variables": {
			"TableName": {
				"type": "String"
			},
			"TableSchema": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AzurePipelines"
		},
		"annotations": []
	}
}